* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cinzel Decorative', cursive;
  background-color:goldenrod;
  height: 80px;    
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;  
} 

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: darkred;
}

.menu > li {
  display: inline;
  margin-right: 50px;
  border-left: 1px solid darkred;
  padding-left: 40px;
}

.menu > li:first-of-type {
  margin-left: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: khaki;
  flex-flow: column;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  font-family: 'Cinzel', serif;
}

.works {
  display: flex;
  justify-content: center;
  padding: 14px;
  margin-top: 500px;
  width: 600px;
  border-radius: 6px;
  flex-wrap: wrap;
  background-color: rgba(167, 177, 27, 0.2);
}

.works img {
  width: 600px;
  height: 400px;
  object-fit: contain;
  padding: 10px;
}

.works button {
  background-color: rgb(218, 165, 32);
  font-weight: bold;
  border: 0px;
  border-radius: 6px;
  padding: 8px;
  font-size: 20px;
  font-family: 'Cinzel', serif;  
}

.works button:hover {
  background-color: darkred;
  transition: 0.2s;
  opacity: 0.6;
}

.works a {
  text-decoration: none;
  color: black;
}

.biography {
  display: flex;
  justify-content: center;
  padding: 14px;
  margin-top: 500px;
  width: 600px;
  background-color: rgba(110, 116, 35, 0.2);
  flex-wrap: wrap;
  border-radius: 6px;
}

.contacts {
  display: flex;
  justify-content: center;
  padding: 14px;
  margin-top: 500px;
  width: 600px;
  background-color: rgba(110, 116, 35, 0.2);
  border-radius: 6px;
  margin-bottom: 200px;
}

.contacts span {
  color: darkred;
}

@media screen and (max-width: 400px) {
  header {
    display: none;
  }
}