.menu > li:nth-child(4) a {
    color: darkred;
}

.contacts {
    display: flex;
    justify-content: center;
    padding: 14px;
    margin-top: 500px;
    background-color: rgba(110, 116, 35, 0.2);
    border-radius: 6px;
    margin-bottom: 200px;
  }
  
  .contacts span {
    color: darkred;
  }
  
  form{
    display: flex;
    flex-direction: column;
  }

  form input {
    margin: 10px;
    padding: 10px;
    font-family: 'Cinzel', serif;

  }

  form button {
    font-size: larger;
    padding: 6px;
    margin: 20px;
    font-family: 'Cinzel Decorative', cursive;
  }