* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header{
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

.menu > li {
    display: inline;
    margin-right: 50px;
}

.menu > li:last-of-type {
    margin-right: 0;
  }

  .menu > li:first-of-type {
    margin-left: 100px;
  }


